export(CompartmentType)
export(Compartment)
export(Lineage)

export(EventLogger)
export(MODEL)

export(init.fixed.samplings)
export(.to.eventlog)
export(init.branching.events)
export(sim.outer.tree)

export(sim.migrations)

export(sim.inner.tree)

export(.outer.tree.to.phylo)
export(.inner.tree.to.phylo)
export(plot.EventLogger)