export(CompartmentType)
export(Compartment)
export(Lineage)

export(EventLogger)
export(MODEL)

export(init.fixed.samplings)
export(.to.eventlog)
export(init.branching.events)
export(sim.outer.tree)

export(calc.migration.rates)
export(calc.coal.wait.times)
export(sim.inner.tree)

export(.to.transmission.tree)